In [68]:
from dadjokes import Dadjoke
import json
import pandas as pd
import numpy as np
import re
from copy import copy

In [21]:
df = pd.read_csv('headlines.csv')

In [23]:
df.id = df.index

In [26]:
df.iloc[0]['original1']

'" Pence Is Trying to Control Republican Politics . Trump <Aides/> Are n’t Happy . " An opportunist hard at work .'

In [29]:
def replace_word_in_brackets(row):
    # The pattern finds a word within angle brackets
    pattern = r'<(.*?)>'
    # Replace the found word with the word in 'edit1'
    return re.sub(pattern, row['edit1'], row['original1'])

# Apply the function to each row
df['modified'] = df.apply(replace_word_in_brackets, axis=1)

In [33]:
df

,id,original1,edit1,modified
0,0,""" Pence Is Trying to Control Republican Politi...",barbers,""" Pence Is Trying to Control Republican Politi..."
1,1,""" Pence Is Trying to Control Republican Politi...",barbers,""" Pence Is Trying to Control Republican Politi..."
2,2,""" Pence Is Trying to <Control/> Republican Pol...",Bungle,""" Pence Is Trying to Bungle Republican Politic..."
3,3,""" There is no Man Behind the Curtain , "" says ...",elephant,""" There is no Man Behind the Curtain , "" says ..."
4,4,""" There is no Man Behind the Curtain , "" says ...",elephant,""" There is no Man Behind the Curtain , "" says ..."
...,...,...,...,...
394,394,CBO : New Health Care Bill Would Leave <Millio...,dozens,CBO : New Health Care Bill Would Leave dozens ...
395,395,CBO : New <Health/> Care Bill Would Leave Mill...,sausage,CBO : New sausage Care Bill Would Leave Millio...
396,396,CBS Poll : Americans lack confidence in Trump ...,locate,CBS Poll : Americans lack confidence in Trump ...
397,397,CBS Poll : Americans lack confidence in Trump ...,locate,CBS Poll : Americans lack confidence in Trump ...
398,398,CBS Poll : Americans lack confidence in Trump ...,spaghetti,CBS Poll : Americans lack confidence in Trump ...

In [35]:
df.iloc[0]['original1']

'" Pence Is Trying to Control Republican Politics . Trump <Aides/> Are n’t Happy . " An opportunist hard at work .'

In [34]:
df.iloc[0]['modified']

'" Pence Is Trying to Control Republican Politics . Trump barbers Are n’t Happy . " An opportunist hard at work .'

In [37]:
df['id modified'.split()].to_csv('headlines.csv')

In [88]:
dadjoke_dict = {}
for i in range(200):
    print()
    dadjoke = Dadjoke()
    dadjoke_dict[dadjoke.id] = dadjoke.joke

0
1

In [92]:
df = pd.DataFrame([{'id':id_,'joke':joke}for id_, joke in dadjoke_dict.items()])
df.to_csv('dad_jokes.csv')

In [83]:
cp = copy(dadjoke_dict)

In [89]:
for key in set(cp):
    dadjoke_dict[key] = [dadjoke_dict.get(key,cp[key])]

In [ ]:
df.to_csv('dad_jokes.csv')

In [ ]:
for i in range(5):
    df[f'digit_{i+1}'] = [int(str(num)[i]) for num in grades]

In [97]:
df

              id                                               joke
0     B5h311TS7h  [I couldn't figure out how the seat belt worke...
1    2o4MZ8pjNuc  It was so cold yesterday my computer froze. My...
2    mGlbFtk3Tvc  [[Why did the m&m go to school? Because it wan...
3    1wkqrcNCljb  [[Did you know that protons have mass? I didn'...
4     trc2EYT0ob  [[The invention of the wheel was what got thin...
..           ...                                                ...
245  SnOf2gqjiqc  [Why are pirates called pirates? Because they ...
246   DtWSnydN7h  [[It's difficult to say what my wife does, she...
247  J69x5hNZvzd  [[I don't trust sushi, there's something fishy...
248  NucUfVvXLBd  [[[What did the hat say to the scarf?\r\nYou c...
249  7USvkbaahFd  [[[What do you call a boy who stopped digging ...

[250 rows x 2 columns]

In [ ]:
# irony, exagguration, wordplay, deprication

In [ ]:
grades = []

In [106]:

def grade_joke():
    for index, row in df.iterrows():
        if index < len(grades):
            continue
        print(f"Joke #{index + 1}: {row['joke']}")
 
        grade = int(input("grade: "))
        
        grades.append(grade)
    
    return grades

grades = grade_joke()

Joke #238: [[['What did the grape do when he got stepped on? He let out a little wine.']]]
grade: 20010
Joke #239: [['They laughed when I said I wanted to be a comedian – they’re not laughing now.']]
grade: 20010
Joke #240: ["Why can't eggs have love? They will break up too soon."]
grade: 20010
Joke #241: [['What do you call a guy lying on your doorstep? Matt.']]
grade: 20010
Joke #242: ['Bad at golf? Join the club.']
grade: 20010
Joke #243: [[["If at first you don't succeed, sky diving is not for you!"]]]
grade: 20010
Joke #244: ['Whiteboards ... are remarkable.']
grade: 20010
Joke #245: [['what do you call a dog that can do magic tricks? a labracadabrador']]
grade: 20010
Joke #246: ['Why are pirates called pirates? Because they arrr!']
grade: 20010
Joke #247: [["It's difficult to say what my wife does, she sells sea shells by the sea shore."]]
grade: 20010
Joke #248: [["I don't trust sushi, there's something fishy about it."]]
grade: 20010
Joke #249: [[["What did the hat say to the scarf?\r\nYou can hang around. I'll just go on ahead.\r\n"]]]
grade: 20010
Joke #250: [[['What do you call a boy who stopped digging holes? Douglas.']]]
grade: 20010